astroid==2.6.5
backports.entry-points-selectable==1.1.0
colorama==0.4.4
distlib==0.3.2
filelock==3.0.12
isort==5.9.2
lazy-object-proxy==1.6.0
mccabe==0.6.1
platformdirs==2.3.0
pylint==2.9.5
six==1.16.0
toml==0.10.2
virtualenv==20.7.2
wrapt==1.12.1
