<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='custom.css')}}" type="text/css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Flask blog </title>
    {% endif %}
  
</head>

<body>
    
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{url_for('main.home')}}">Flask Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('main.home')}}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('main.about_us')}}">About</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('users.logout')}}">Logout</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('users.account')}}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('posts.new_post')}}">New Post</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('users.login')}}">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('users.register')}}">Register</a>
                    </li>
                {%  endif %}
                
              </ul>
            </div>
          </nav>
        <div class="row">
            <div class="col-md-9">
                {% with messages = get_flashed_messages(with_categories = true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {%  endif %}
                {% endwith %}
                {% block content %} {% endblock %}
            </div>

            <div class="col-md-3">
                <div  class="sidebar">
                    <h2>Our side Bar</h2>
                    <p>this is a sample side bar</p>
                    <a href="#" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Latest posts</a>
                    <a href="#" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Latest posts</a>
                    <a href="#" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Latest posts</a>
                    <a href="#" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Latest posts</a>
                </div>
            </div>

        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>
</html>